<style media="screen">

li {
    height: 200px;
    width: 200px;
    color: rgb(209, 172, 93);
    background-color: rgb(41, 16, 16);
}

</style>

<h1>Lunches for {{eater}}</h1>

<ul>
    {{#each food}}
    <li>{{dinner}}</li>
    {{/each}}
</ul>