<style media="screen">

li {
    height: 200px;
    width: 200px;
    color: rgb(0, 103, 163);
    background-color: rgb(255, 233, 133);
}

</style>

<h1>Breakfast for {{eater}}</h1>

<ul>
    {{#each foods}}
    <li>{{breakfast}}</li>
    {{/each}}
</ul>